.heading{
   padding: 20px;
   width:100%;
   text-align: center;
   margin-top:7%;
}

.form{
   padding: 20px;
   width:100%;
   text-align: center;
}

.form-control{
   padding:10px;
}


.row{
   padding: 20px;
   width:100%;
   text-align: center;
}

.row-div{
  background-image:url('src/assets/images/Rounded_Rectangle.png');
  border: 2px;
  text-align: center;
  width:120px;
  margin-left: 47%;
  padding: 20px;
}
